<!DOCTYPE HTML>

<html ng-app="loginApp">
<head>
    <title>Tuna de Medicina do Porto</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.dropotron.min.js"></script>
        <link rel="stylesheet" href="css/skel.css" />
        <link rel="stylesheet" href="css/style.css" />
        <link rel="stylesheet" href="css/style-desktop.css" />

    <link rel="stylesheet" href="bower_components/flexslider/flexslider.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
</head>
<body class="login" data-ng-controller="loginController">
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title">Administration</h1>
            <div class="account-wall">
                <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                     alt="">
                <form class="form-signin">
                    <input type="text" class="form-control" placeholder="Username" id ="username" ng-model ="user.name" required autofocus>
                    <input type="password" class="form-control" placeholder="Password" id ="password" ng-model="user.pass" required>
                    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="validate(user)">
                        Sign in</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src ="bower_components/angular-route/angular-route.min.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js" ng-module ='ngCookies'></script>
<script src="controllers/loginCtrl.js"></script>
<script src="services/js/autenticationService.js"></script>
</html>
